# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

registries:
  maven-google:
    type: maven-repository
    url: "https://dl.google.com/dl/android/maven2/"

  maven-central:
    type: maven-repository
    url: "https://repo.maven.apache.org/maven2"

  jitpack:
    type: maven-repository
    url: "https://jitpack.io"

updates:
  - package-ecosystem: "gradle"
    directory: "/"
    registries:
      - maven-central
      - maven-google
      - jitpack
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    labels:
      - "dependencies"
      - "gradle"
    assignees:
      - "ARCOOON"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    labels:
      - "dependencies"
      - "github-actions"
    assignees:
      - "ARCOOON"
