# === ANDROID / GRADLE ===
.gradle/
build/
**/build/

local.properties
*.log

# === ANDROID STUDIO ===
.idea/
!.idea/codeStyles/
.idea/runConfigurations/
.idea/runConfigurations/*.xml   # Ignore run configs

# === RUN CONFIGS ===
*.run.xml

# === SCRIPTS ===
scripts/*
!scripts/*.sh
!scripts/*.ps1

# === KEYSTORES ===
keystores/
keystore.properties

# === OTHER ===
.DS_Store

# Ignore all .md except README.md
*.md
!README.md
