# Gradle
.gradle/
build/
**/build/

local.properties
*.log

# Android Studio
.idea/
!.idea/codeStyles/
.idea/runConfigurations/
.idea/runConfigurations/*.xml   # Ignore run configs
*.run.xml

# Scripts
scripts/*

# Signing Keystores
keystores/
keystores/*
keystore.properties

# Google Services
google-services.json
**/google-services.json

# MacOS Meta info
.DS_Store
Thumbs.db

# Ignore all .md except README.md
*.md
!README.md
