name: New Release

on:
  workflow_dispatch:

jobs:
  new:
    runs-on: ubuntu-latest
    steps:
      - uses: ardalanamini/auto-changelog@v4.0.1
        name: Changelog
        id: changelog
        with:
          github-token: ${{ github.token }}
          commit-types: |
            feat: New Features
            fix: Bug Fixes
            build: Build System & Dependencies
            perf: Performance Improvements
            test: Tests
            refactor: Refactors
            chore: Chores
            revert: Reverts
          release-name: v1.0.0-test
          release-name-prefix: ""
          mention-authors: true
          mention-new-contributors: false
          include-compare-link: true
          include-pr-links: true
          include-commit-links: true
          semver: true
          use-github-autolink: true

      - name: List
        run: |
          tree -a ./
